body {
    margin:0;
    padding:0;
}

.image {
    width:210px;
    height:200px;
    position:relative;
    overflow:hidden;
    margin:50px 0 0 500px;
}

.image .on {display:block;
}

.image img {
    position:absolute;
    width:200px;
    height:200px;
    float:left;
    display:none;
}

.progressbar {
    position:absolute;
    z-index:999;
    left:10px;
    bottom:10px;
    width:180px;
    height:10px;
    border:1px solid #000;
    border-radius:8px;
    overflow:hidden;
    display:none;
}

.progressbar span {
    width:180px;
    height:10px;
    background-color:#0026ff;
    display:block;
}